soap/MovieService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="MovieService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/WcfMovieService"/>
  <xs:element name="AddMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movie" nillable="true" type="q1:Movie" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMovieService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMovieResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovies">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMoviesResult" nillable="true" type="q2:ArrayOfMovie" xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMovieService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMovieByIdResult" nillable="true" type="q3:Movie" xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMovieService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movie" nillable="true" type="q4:Movie" xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMovieService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMovieResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMovieResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMovieByCodeResult" nillable="true" type="q5:Movie" xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMovieService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movie" nillable="true" type="q6:Movie" xmlns:q6="http://schemas.datacontract.org/2004/07/WcfMovieService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpsertMovieResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>